#map-loading {
    position: absolute;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    opacity: 0.5;
}

#map-loading img {
    z-index: 10000;
}

#plot-loading {
    position: absolute;
    right: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    opacity: 0.5;
    height: 250px;
}

#plot-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.option-viewData {
    background: #5971A8;
    padding: 2px;
    margin: 1px;
    text-align: center;
    color: white;
}

.option-viewData:hover {
    background: white;
    color: black;
    cursor: pointer;
    border: 1px solid black;
}

.alert {
    margin-bottom: 0;
}
#resetPage {
    cursor: pointer;
}
#app-actions {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}
#png-data-rods {
    flex: 0 1 auto;
    width: 65px;
}
#nasa-request-output {
    flex: 0 1 auto;
    font-size: 6pt;
}