{% extends "data_rods_explorer/app_base_dre.html" %}
{% load tethys_gizmos %}

{% load staticfiles %}

{% block title %}- {{ tethys_app.name }}{% endblock %}

{% block styles %}
  {{ block.super }}
  <link href="{% static 'data_rods_explorer/css/main.css' %}" rel="stylesheet"/>
{% endblock %}

{% block app_icon %}
  {# The path you provided in your app.py is accessible through the tethys_app.icon context variable #}
  <img src="{% static tethys_app.icon %}">
{% endblock %}

{% block app_navigation_items %}
    <!-- set in app_base_dre.html -->
  {{ block.super }}
  {% if load_layer %}
  <script>
  	document.getElementById('loadMap').value = '{{ load_layer }}';
  </script>
  {% endif %}

  <li class="nav-divider"></li>

  <li style="padding-top:0px;" class="title">Time series</li>

  <li><a href="javascript:void(0)" onclick="page_and_parameters_html('{% url 'data_rods_explorer:plot' %}', 'plot');">Plot one variable</a></li>

  <li><a href="javascript:void(0)" onclick="page_and_parameters_html('{% url 'data_rods_explorer:plot2' %}', 'plot2');">Compare two variables</a></li>

  <li><a style="padding-bottom:15px;" href="javascript:void(0)" onclick="page_and_parameters_html('{% url 'data_rods_explorer:years' %}', 'years');">Year-on-year changes</a></li>

{% endblock %}

{% block app_content %}

  {% gizmo map_view map_view_options %}
  
{% endblock %}

{% block app_actions %}
<!--<li><a>Contact:</br>Gonzalo E. Espinoza</br>gespinoza@utexas.edu</a></li>-->
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <!--Loaded before:
  <script src="{% static 'data_rods_explorer/js/main.js' %}" type="text/javascript"></script>-->
{% endblock %}
