{% if error %}
    <div id="Error999">{{ error }}</div>
{% else %}
    {% load tethys_gizmos %}
    <div class="dropdown">
        <button class="btn dropdown-toggle" type="button" id="dropdown-viewData" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            View Raw Data from NASA in New Tab...
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdown-export">
            <li class="option-viewData" id="optn-viewDataAscii" onclick="openDataRodsUrls({{ datarods_urls_dict.asc2 }})">
                ASCII
            </li>
            <li class="option-viewData" id="optn-viewDataNetCDF" onclick="openDataRodsUrls({{ datarods_urls_dict.netcdf }})">
                NetCDF
            </li>
            <li class="option-viewData" id="optn-viewDataPlot" onclick="openDataRodsUrls({{ datarods_urls_dict.plot }})">
                Plot
            </li>
        </ul>
    </div>
    <div class="dropdown">
        <button class="btn dropdown-toggle" type="button" id="dropdown-hydroshare" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <span><img src="/static/data_rods_explorer/images/hydroshare_logo.svg" width="20" height="20"></span>Upload to HydroShare
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdown-export">
            <li class="option-uploadToHS" id="optn-uploadToHS" data-restype="GenericResource" data-rodsendpoint="{{ datarods_urls_dict.asc2 }}">
                ASCII
            </li>
            <li class="option-uploadToHS" id="optn-uploadToHS" data-restype="NetcdfResource" data-rodsendpoint="{{ datarods_urls_dict.netcdf }}">
                NetCDF
            </li>
        </ul>
    </div>
    {% if plot2 %}
        <div id='plot2container' style="height: 250px; width: 100%"></div>
        {% gizmo plot_view timeseries_plot %}
        <div id="plot2-options"
             data-series="{{ timeseries_plot.series }}"
             data-y1units="{{ timeseries_plot.y1_axis_units }}"
             data-y2units="{{ timeseries_plot.y2_axis_units }}"
             class="hidden"></div>
    {% else %}
        {% gizmo plot_view timeseries_plot %}
    {% endif %}
{% endif %}