{% extends "data_rods_explorer/app_base_dre.html" %}
{% load tethys_gizmos %}

{% load staticfiles %}

{% block title %}- {{ tethys_app.name }}{% endblock %}

{% block app_icon %}
  {# The path you provided in your app.py is accessible through the tethys_app.icon context variable #}
  <img src="{% static tethys_app.icon %}">
{% endblock %}

{% block app_navigation_items %}
        <!-- set in app_base_dre.html -->
  {{ block.super }}

  <li class="nav-divider"></li>

  <li style="padding-top:0px;" class="title">Time series</li>

  <li><a href="javascript:void(0)" onclick="page_and_parameters_html('{% url 'data_rods_explorer:plot' %}', 'plot');">Plot one variable</a></li>

  <li><a href="javascript:void(0)" onclick="page_and_parameters_html('{% url 'data_rods_explorer:plot2' %}', 'plot2');">Compare two variables</a></li>

  <li class="active"><a style="padding-bottom:15px;" href="javascript:void(0)" onclick="page_and_parameters('{% url 'data_rods_explorer:years' %}', 'years');">Year-on-year changes</a></li>

  <div style="padding-left:30px;padding-bottom:15px;">
	<li style="padding-top:15px;">Select years:</li>
	{% gizmo select_input select_years %}
	<script>
	  load_default_years();
	</script>
	{% gizmo button plot_button %}
  </div>

{% endblock %}

{% block app_content %}
  <p>Click on map</p>
  {% gizmo map_view map_view_options %}
  {% if timeseries_plot %}
    {% gizmo plot_view timeseries_plot %}
  {% endif %}
  
{% endblock %}

{% block app_actions %}
<!--<li><a>Contact:</br>Gonzalo E. Espinoza</br>gespinoza@utexas.edu</a></li>-->
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <!--Loaded before:
  <script src="{% static 'data_rods_explorer/js/main.js' %}" type="text/javascript"></script>-->
  <script>
    window.onload = map_click_evt;
  </script>
{% endblock %}
